<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sunrise Web Portal</title>

    @Styles.Render("~/Content/css")
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="mainApp" ng-cloak>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sunrise Web Portal", "Index", "Contract", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <section class="nb-aside-menu">
            <ul class="nb-aside-nav">
                <li><a href="@Url.Action("Index","Contract")"><i class="fa fa-file"></i>Contract</a></li>
                <li><a href="@Url.Action("Index","Receivable")"><i class="fa fa-money"></i>Account</a></li>
                <li><a href="@Url.Action("Index","Villa")"><i class="fa fa-tasks"></i>MasterFile</a></li>
                <li><a href="@Url.Action("Index","Villa")"><i class="fa fa-money"></i>Support</a></li>
            </ul>
        </section>
        <div class="page">
            @RenderBody()
            <hr />
            <footer>
                <p>Sunrise Web Portal ver 1.1 - &copy; @DateTime.Now.Year</p>
            </footer>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ui-bootstrap")
    @Scripts.Render("~/bundles/app")


    <!--CDN link for  TweenMax-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>


