@using Sunrise.Client.Domains.ViewModels
@using Sunrise.Client.Domains.ViewModels.Identity
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sunrise Web Portal</title>
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="transparent-login">

        <section class="login">
            @using (Html.BeginForm("Login", "Account",
                new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input", placeholder = "User", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="input-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "input", placeholder = "Password", required = "required" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <button class="btn-login">Log in</button>
            }
        </section>

    </div>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ui-bootstrap")
</body>
</html>
